<div class="div">
  <a href="/faculties/add" class="btn btn-primary float-left">Agregar nueva facultad</a>
  </div>
    <div class="d-flex justify-content-end">
      <form action="/faculties/search" method="POST" class="mb-3">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Buscar facultades">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container">
            <h1>Facultades</h1>
            <table class="table mt-2">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Semestres</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each faculties}}
                  <tr>
                    <td>{{_id}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{duration}}</td>
                    <td>
                        <a href="faculties/edit/{{_id}}" class="btn btn-primary btn-block btn-sm">Editar</a>
                    </td>
                    <td>
                        <button onclick="confirmDelete('{{_id}}')" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                        <form id="delete-form-{{_id}}" action="/faculties/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                        </form>
                    </td>
                  </tr>
                {{/each}}
            </tbody>
  </table>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function confirmDelete(id) {
    swal({
      title: "¿Estás seguro?",
      text: "Esta acción no se puede deshacer.",
      icon: "warning",
      buttons: ["Cancelar", "Eliminar"],
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        const form = document.querySelector(`#delete-form-${id}`);
        form.submit();
      }
    });
  }
</script>